
<div class="span6" >
    <div class="area">
        <div class="alert alert-error alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>ERROR..!</strong>
            <br />
            <br />
            <br />
            <ul><li> @ViewBag.Message</li></ul>
        </div>
    </div>
</div>
